<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956817943902-91i93iss02e31dm17562kei2gdukp7un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956817943902-91i93iss02e31dm17562kei2gdukp7un</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956817943902-76jeqlg4i6s128fc1pkpodpfe5r41snl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVNvOxx8vviK5DKqp2YIjMXETb9aKEChU</string>
	<key>GCM_SENDER_ID</key>
	<string>956817943902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeromolecule.flutterZero</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-test-7f6d3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-test-7f6d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956817943902:ios:069ef8365c5782a8f173cf</string>
</dict>
</plist>